<!-- <div class="basic-container"> -->
  <div class="header-wrap">
    <div>Имя пользователя</div>
    <div>Строки</div>
    <div>Версия</div>
    <div></div>
  </div>
<!-- </div> -->

<div class="basic-container">
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- детальные записи -->
    <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding class="custom-tree-node" [ngClass]="{'notExpanded' : !node.expandable}">
      <div class="node-content">
        {{node.filename}}: {{node.type}}
      </div>
      <div class="node-detailes"> {{node.rowCounter}}</div>
      <div class="node-detailes">{{node.version}}</div>
      <div class="node-detailes">
        <button mat-raised-button>Обновить</button>
        <div class="icons-wrap">
            <mat-icon> arrow_upward </mat-icon>
            <mat-icon> more_horiz </mat-icon>
        </div>
      </div>


    </cdk-tree-node>

    <!-- группировки -->
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding class="custom-tree-node">
      <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" cdkTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.filename}}: {{node.type}}

    </cdk-tree-node>
  </cdk-tree>
</div>
